<h1>
    <%= @post.title %>
</h1>
<p>
    <%= @post.body %>
</p>

<ul>
  <li><%= link_to "Edit", edit_post_path(@post) %></li>
  <li><%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }%></li>
</ul>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
	<p>
		<strong>Commenter:</strong>
		<%= comment.commenter %>
		<strong>Email:</strong
		<%= comment.email %>
	</p>
	<p>
		<%= comment.body %>
	</p>
<% end  %>

<h2>Add a comment:</h2>
<%= form_with model: [@post, @post.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %>
    <%= form.text_field :commenter %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

